@import '../../styles.scss';

.artist-card {
    width: 300px;
    margin: 0px 5px;

    .artist-image {
        img {
            width: 100%;
        }
    }

    h2 {
        color: $font-color-sub;
    }
}