.album-container {
    display: flex;
    flex-wrap: wrap;

    .album-card {
        width: 300px;

        .album-cover {
            img {
                width: 300px;
            }
            
        }
    }
}