@import '../../style-variables.scss';

li {
    
    border-bottom: 1px solid black;

    h4, h5{
        display: inline;
        margin: 0px;
    }

    h4 {
        width: 90%;
    }

    h5 {
        float: right;
        width: 10%;
    }
}