/* You can add global styles to this file, and also import other style files */

$base-color: #1C1C29;

body {
    background-color: $base-color;
    padding: 0px 150px;
}

body {
    header {
        div {
            width: 8%;

            img {
                width: 100%;
            }
        }
    }
}