/* You can add global styles to this file, and also import other style files */

$base-color: #1C1C29;
$font-color-main: #E8E8E8;
$font-color-sub: #D2D2D3;

body {
    background-color: $base-color;
    padding: 0px 150px;
    color: $font-color-main;

    header {
        div {
            width: 8%;

            img {
                width: 100%;
            }
        }
    }
}